/* webfont */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

:root {
    --fontMain: 'Noto Sans KR', sans-serif;
}

/* reset */
body,
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: var(--fontMain);
}
blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
legend,
li,
ol,
p,
pre,
textarea,
ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: 400;
}
ul {
    list-style: none;
}
button,
input,
select {
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fontMain);
    outline: 0;
}
fieldset,
img {
    border: 0;
}
*,
:after,
:before {
    box-sizing: inherit;
}
img,
video {
    height: auto;
    max-width: 100%;
}
iframe {
    border: 0;
}
table {
    margin: 0;
    padding: 0;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
}
td,
th {
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
}
form {
    margin: 0;
    padding: 0;
}
fieldset {
    margin: 0;
    padding: 0;
    border: 0 none;
}
legend {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
caption {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
button {
    cursor: pointer;
    border: 0;
    background-color: transparent;
    font-family: var(--fontMain);
    outline: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
}
a[role="button"] {
    cursor: pointer;
}
.ir-text {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
label {
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox  */
input[type='number'] {
  -moz-appearance: textfield;
}